<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #62C4D1;">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/overview" routerLinkActive="active" style="background-color: white; padding: 0.1rem 0.5rem; border-radius: 10px" href="#">
      <img src="assets/icons/jvp14.svg" alt="" width="50" height="50" class="d-inline-block align-text-center">
      <span style="margin-left: 0.5rem; color: #1a9ead"> Junge ÖVP Penzing </span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/overview" routerLinkActive="active">Übersicht</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/team" routerLinkActive="active">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/legal" routerLinkActive="active">Impressum</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>

<footer class="fixed-bottom" style="background-color: #62C4D1; padding-top: 0.3rem; padding-bottom: 0.3rem">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-auto">
          <span style="margin-left: 0.3rem; color: white">Junge ÖVP Penzing | Wirtschaftsbund Wien</span>
      </div>
      <div class="col-auto">
          <ul class="footer-list list-group list-group-horizontal">
            <li class="list-group-item">
              <a href="https://www.instagram.com/jvpwien14"> <fa-icon [icon]="['fab', 'instagram']"></fa-icon>  </a>
            </li>
            <li class="list-group-item">
              <a href="https://www.facebook.com/jvpwien14"> <fa-icon [icon]="['fab', 'facebook']"></fa-icon> </a>
            </li>
            <li class="list-group-item">
              <a href="https://twitter.com/jungeoevp"> <fa-icon [icon]="['fab', 'twitter']"></fa-icon> </a>
            </li>
            <li class="list-group-item">
              <a routerLink="/legal" routerLinkActive="active"> Impressum </a>
            </li>
          </ul>
      </div>
    </div>
  </div>
</footer>

