
<div class="bg-image" style="background-image: url('assets/images/utility/header04.png'); padding-bottom: 3rem; padding-top: 3rem">
  <div class="container text-center">
    <h1 style="color: white">
      Advent in Penzing
    </h1>
    <h3 style="color: white">
      Zu Weihnachten kaufe ich regional
    </h3>
  </div>
</div>


  <div class="container" style="padding-top: 3rem; padding-bottom: 2rem">
    <div class="row">
      <div class="col-md-4 text-center">
        <img class="img-fluid" width="200" height="200"  src="assets/icons/jvp14.svg">
      </div>
      <div class="col-md-8">
      <h4>
        Um was geht es?
      </h4>
        <span class="text-center">Advent in Penzing ist ein Projekt der Jungen ÖVP Penzing in Kooperation mit dem Wirtschaftsbund Wien um lokale Unternehmen in Penzing hevorzuheben und den lokalen Handel zu fördern. Gerade durch die Corona Pandemie hat der Handel gelitten und um so wichtiger ist es in der vorweihnachtlichen Zeit auf diese Unternehmen aufmerksam zumachen. Der Bezirk Penzing bietet zahlreiche besondere Einkaufsmöglichkeiten, mit vielen einzigartiken Geschenksideen die nur darauf warten gefunden zu werden. In unserem Adventskalender finden Sie viele einzigartige Unternehmer die sich und ihre Produkte vorstellen. </span>
    </div>
  </div>

<div class="container">
  <hr style="border-color: gray"/>
</div>

<div class="container" style="padding-top: 3rem; padding-bottom: 3rem">
  <div class="row">
    <div class="col-md-8 text-right">
      <h4>
        Herzlichen dank an die Unternehmer
      </h4>
      <span>Wir bedanken uns bei den Unternehmern für ihre Teilnahme und Kooperation sowie die Bereitstellung von Bildern und Gutscheinen für diese Aktion. Insbesondere möchten wir uns bedanken für die durchhaltefähigkeit während der Covid-19 Pandemie und dem erhalt zahlreicher Arbeitsplätze. Auch wollen wir uns bei dem Wirtschaftsbund Wien bedanken für die Unterstützung und Organistation dieses Projektes. Wir von der Jungen ÖVP Penzing wünschen Ihnen einen schönen Advent und ein besinnliches Weihnachtsfest.</span>
    </div>
    <div class="col-md-4 text-center">
        <img class="img-fluid" width="200" height="200" src="assets/icons/wirtschaftsbund.png">
    </div>
  </div>
</div>



