<div class="container" style="margin-top: 10rem">
  <div class="d-flex justify-content-md-center align-items-center">
    <div class="text-center">
      <h2 style="color: #62C4D1;"> Upsss... Ein Fehler ist passiert  <fa-icon [icon]="['fas', 'bug']" style="margin-left: 0.5rem"></fa-icon> </h2>
      <h3 style="color: #62C4D1;"> Sieh dich doch mal hier um</h3>
      <div class="row justify-content-center">
      <ul style="margin-top: 0.4rem" class="list-group list-group-horizontal">
        <li class="list-group-item">
          <a routerLink="/overview" routerLinkActive="active"> Übersicht </a>
        </li>
        <li class="list-group-item">
          <a routerLink="/team" routerLinkActive="active"> Team </a>
        </li>
        <li class="list-group-item">
          <a routerLink="/about" routerLinkActive="active"> About </a>
        </li>
        <li class="list-group-item">
          <a href="https://www.instagram.com/jvpwien14"> JVP14 Instagram </a>
        </li>
        <li class="list-group-item">
          <a href="https://www.facebook.com/jvpwien14"> JVP14 Facebook </a>
        </li>
      </ul>
      </div>
    </div>
  </div>
</div>
