.navbar-nav {
  a {
    color: white;
  }
}


.footer-list {
  li {
    padding: 0.3rem 0.6rem;
    border: 0;
    background-color: #62C4D1;
    color: white;

    a {
      color: white;
    }
  }
}
