<div class="container" style="padding-bottom: 4rem">
  <div style="margin-top: 2rem">
  <h1>Impressum</h1>
  <h5>Informationspflicht laut §5 E-Commerce Gesetz, §14 Unternehmensgesetzbuch, §63 Gewerbeordnung und Offenlegungspflicht laut §25 Mediengesetz.</h5>
  </div>
  <hr style="border-color: gray"/>
  <div style="margin-top: 1rem">
    <h5>Michael Reder</h5>
    <h6>Kendlerstraße 2a, Top4</h6>
    <h6>1140 Wien</h6>
    <h6>Österreich</h6>
  </div>
  <div style="margin-top: 1rem">
    <h6>Tel.: +436606667489</h6>
    <h6>E-Mail: reder949@gmail.com</h6>
  </div>
  <hr style="border-color: gray"/>
  <div style="margin-top: 1rem">
    <h3>Haftung für Inhalte dieser Webseite</h3>
    <span>Wir entwickeln die Inhalte dieser Webseite ständig weiter und bemühen uns korrekte und aktuelle Informationen bereitzustellen. Leider können wir keine Haftung für die Korrektheit aller Inhalte auf dieser Webseite übernehmen, speziell für jene die seitens Dritter bereitgestellt wird. Sollten Ihnen problematische oder rechtswidrige Inhalte auffallen, bitte wir Sie uns umgehend zu kontaktieren, Sie finden die Kontaktdaten im Impressum.</span>
  </div>
  <hr style="border-color: gray"/>
  <div style="margin-top: 1rem">
    <h3>Haftung für Links auf dieser Webseite</h3>
    <span>Unsere Webseite enthält Links zu anderen Webseiten für deren Inhalt wir nicht verantwortlich sind. Wenn Ihnen rechtswidrige Links auf unserer Webseite auffallen, bitte wir Sie uns zu kontaktieren, Sie finden die Kontaktdaten im Impressum.</span>
  </div>
  <hr style="border-color: gray"/>
  <div style="margin-top: 1rem">
    <h3>Urheberrechtshinweis</h3>
    <span>Alle Inhalte dieser Webseite (Bilder, Fotos, Texte, Videos) unterliegen dem Urheberrecht. Falls notwendig, werden wir die unerlaubte Nutzung von Teilen der Inhalte unserer Seite rechtlich verfolgen.</span>
  </div>
  <hr style="border-color: gray"/>
  <div style="margin-top: 1rem">
    <h3>Bildernachweis</h3>
    <span>Die Bilder, Fotos und Grafiken auf dieser Webseite sind urheberrechtlich geschützt. Die Bilderrechte liegen bei den folgenden Fotografen und Unternehmen:</span>
    <ul>
      <li>unsplash.com</li>
      <li>pixabay.com</li>
    </ul>
  </div>
</div>
